@supports (grid-area: auto) {
    
	@media screen and (min-width:500px) {
		.cssGrid {
			display: grid;
			width: 100%;
			grid-template-columns: 30% 30% 30%;
			grid-template-areas: 
				"item1 item2 item3";
            justify-content: center;
            grid-gap: 1% 1%;
            }
            #item1 {
                grid-area: item1;
                min-width: 30%;
                min-height: 200px;
            }
            #item2 {
                grid-area: item2;
                min-width: 30%;
                min-height: 200px;
            }
            #item3 {
                grid-area: item3;
                min-width: 30%;
                min-height: 200px;	
            }
        }
    }