@supports (grid-area: auto) {
    
	@media screen and (min-width:150px) {
		.cssGrid {
			display: grid;
			width: 100%;
			grid-template-columns: 25% 25% 25%;
			grid-template-areas: 
				"item1 item2 item3";
            justify-content: center;
            grid-gap: 1% 1%;
            }
            #item1 {
                grid-area: item1;
                min-width: 30%;
                min-height: 200px;
            }
            #item2 {
                grid-area: item2;
                min-width: 30%;
                min-height: 200px;
            }
            #item3 {
                grid-area: item3;
                min-width: 30%;
                background-color: black;
                min-height: 200px;	
            }
        }
    }