/* CSS Document */

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: aliceblue;
}

.hnav {
	display: inline-block;
    padding: 5px 0;
    width: 100%;
    background-color: aliceblue;
	color: black;
	font-family: 'Shrikhand', cursive;
}

.hnav ul {
	display: block;
	text-align: center;
}

.hnav ul li {
	display: inline-block;
	list-style: none;
	width: 15%;
	margin-top: .8%;
}

.hnav a {
	color: black;
	text-decoration: none;
	font-size: 1.5em;
	font-family: 'Shrikhand', cursive;
}

.hnav ul li:hover {
	background-color: aliceblue;
	color: navy;
	text-decoration: underline;
}

header {
    background-color: navy;
	color: aliceblue;
	min-height: 300px;
	width: 100%;
	font-family: 'Shrikhand', cursive;
}

header h1 {
    font-size: 5em;
    font-weight: bold;
	margin-left: 25%;
	font-family: 'Shrikhand', cursive;
}

header h3 {
    font-size: 3em;
    font-weight: bold;
    margin-left: 35%;
	font-family: 'Shrikhand', cursive;
}

header img {
	float: right;
}

main {
	color: aliceblue;
	font-family: 'Noto Serif', serif;
}

main img {
	float: center;
}

h2 {
	font-size: 3em;
	font-weight: bold;
}

p {
	font-size: 1.5em;
}

.who {
	background-color: black;
	color: aliceblue;
	min-height: 200px;
	width: 100%;
}

.about {
	background-color: navy;
	color: aliceblue;
	min-height: 200px;
	width: 100%;
}

.about p {
	font-size: 2em;
	color: aliceblue;
}

.pastCode {
	font-size: 2em;
	background-color: aliceblue;
	color: navy;
}

.cssGrid {
	display: center;
	color: navy;
}

.cssGrid h2 a {
	color: navy;
	background-color: aliceblue;
	padding: 10px;
	margin: 10px;
	font-size: .5em;
	border-radius: 10px;
	text-align: center;
}

#item1 {
    background-image: url(../beagles/images/beaglesJuniors/images/newsletter_Beagle.jpg);
	font-weight: bold;
	text-decoration: none;
	border-radius: 5px;
}

#item1:hover {
	color: aliceblue;
	background-color: black;
	text-decoration: underline;
}

#item2 {
    background-image: url(../christmas22/images/snow.jpg);
	font-weight: bold;
	text-decoration: none;
	border-radius: 5px;
}

#item2:hover {
	color: aliceblue;
	background-color: black;
	text-decoration: underline;
}

#item3 {
    background-image: url(../forwardFitness/images/forward-fitness-logo.png);
	font-weight: bold;
	text-decoration: none;
	border-radius: 5px;
}

#item3:hover {
	color: aliceblue;
	background-color: black;
	text-decoration: underline;
}

.resume {
	background-color: navy;
	color: aliceblue;
	font-size: 2em;
}

.resume h2 {
	font-weight: bold;
	font-size: 2em;
}

button {
	background-color: aliceblue;
	color: navy;
	padding: 15px;
	margin: 15px;
	border-radius: 10px;
	font-size: 1em;
	font-weight: bold;
	text-decoration: none;
}

button:hover {
	background-color: black;
	color: aliceblue;
	text-decoration: underline;
}

footer {
	font-family: 'Noto Serif', serif;
    background-color: black;
	color: aliceblue;
}

footer h1 {
    font-size: 2em;
    font-weight: bold;
	margin-left: 40%;
}

footer h3 {
    font-size: 2em;
    font-weight: bold;
    margin-left: 43%
}

.fnav {
    padding: 5px 0;
    width: 100%;
    background-color: aliceblue;
	color: black;
	font-family: 'Shrikhand', cursive;
}

.fnav ul {
	display: block;
	text-align: center;
}

.fnav ul li {
	display: inline-block;
	list-style: none;
	width: 15%;
	margin-top: .8%;
}

.fnav a {
	color: black;
	text-decoration: none;
	font-size: 1.5em;
}

.fnav ul li:hover {
	background-color: aliceblue;
	color: black;
	text-decoration: underline;
}

footer h4, footer h5, footer h6 {
	text-align: center;
	color: aliceblue;
}
