/* CSS Document */

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: aliceblue;
}

.hnav {
	display: inline-block;
    padding: 5px 0;
    width: 100%;
    background-color: orange;
	color: black;
	font-family: 'Shrikhand', cursive;
	position:fixed;
	top: 0;
}

.hnav ul {
	display: block;
	text-align: center;
}

.hnav ul li {
	display: inline-block;
	list-style: none;
	width: 15%;
	margin-top: .8%;
}

.hnav a {
	color: black;
	text-decoration: none;
	font-size: 1.5em;
	font-family: 'Shrikhand', cursive;
}

.hnav ul li a:hover {
	background-color: black;
	color: orange;
	text-decoration: underline;
}

header {
    background-color: aliceblue;
	color: black;
	min-height: 300px;
	width: 100%;
	font-family: 'Shrikhand', cursive;
}

header h1 {
    font-size: 5em;
    font-weight: bold;
	margin-left: 25%;
	font-family: 'Shrikhand', cursive;
	text-shadow: 7px 7px 6px black;
}

header h3 {
    font-size: 3em;
    font-weight: bold;
    margin-left: 35%;
	font-family: 'Shrikhand', cursive;
	text-shadow: 7px 7px 6px black;
}

header img {
	float: right;
}

main {
	color: black;
	font-family: 'Noto Serif', serif;
}

main img {
	float: center;
}

h2 {
	font-size: 2.3em;
	font-weight: bold;
	text-shadow: 7px 7px 6px black;
}

p {
	font-size: 1.5em;
}

.who {
	background-color: black;
	color: aliceblue;
	min-height: 300px;
	width: 100%;
}

.who h2 {
	text-shadow: 7px 7px 6px aliceblue;
}

.who p {
	width: 80%;
	font-size: 2em;
	text-align: center;
}

.about {
	background-color: aliceblue;
	color: black;
	min-height: 300px;
	width: 100%;
}

.about h2 {
	text-shadow: 7px 7px 6px black;
}

.about p {
	font-size: 2em;
	color: black;
	min-height: 150px;
	width: 80%;
	text-align: center;
}

.pastCode {
	font-size: 1.5em;
	background-color: black;
	min-height: 200px;
}

.pastCode h2 {
	text-shadow: 7px 7px 6px aliceblue;
	color: aliceblue;
}

.pastCode button a {
	background-color: orange;
	text-decoration: none;
	color: black;
	padding: 40px;
	margin: 10px;
	border-radius: 8px;
	font-size: 1.5em;
	font-weight: bold;
	text-decoration: none;
}

.pastCode button a:hover {
	background-color: aliceblue;
	color: black;
	text-decoration: underline;
	text-shadow: 7px 7px 6px black;
}

.resume {
	background-color: aliceblue;
	font-size: 2em;
	height: 200px;
}

.resume h2 {
	font-weight: bold;
	font-size: 1.2em;
	text-shadow: 7px 7px 6px black;
	color: black;
}

.resume button a {
	background-color: black;
	text-decoration: none;
	color: orange;
	padding: 40px;
	margin: 10px;
	border-radius: 8px;
	font-size: 1.5em;
	font-weight: bold;
	text-decoration: none;
}

.resume button a:hover {
	background-color: orange;
	color: black;
	text-decoration: underline;
	text-shadow: 7px 7px 6px black;
}

footer {
	font-family: 'Noto Serif', serif;
    background-color: black;
	color: aliceblue;
}

footer h1 {
    font-size: 2em;
    font-weight: bold;
	margin-left: 40%;
}

footer h3 {
    font-size: 2em;
    font-weight: bold;
    margin-left: 43%
}

.fnav {
    padding: 5px 0;
    width: 100%;
    background-color: orange;
	color: black;
	font-family: 'Shrikhand', cursive;
}

.fnav ul {
	display: block;
	text-align: center;
}

.fnav ul li {
	display: inline-block;
	list-style: none;
	width: 15%;
	margin-top: .8%;
}

.fnav a {
	color: black;
	text-decoration: none;
	font-size: 1.5em;
}

.fnav ul li a:hover {
	background-color: black;
	color: orange;
	text-decoration: underline;
}

footer h4, footer h5, footer h6 {
	text-align: center;
	color: aliceblue;
}
