/* CSS Document */

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: aliceblue;
}

header {
    background-color: navy;
	color: aliceblue;
	min-height: 300px;
	width: 100%;
}

header h1 {
    font-size: 5em;
    font-weight: bold;
	margin-left: 25%;
}

header h3 {
    font-size: 1.5em;
    font-weight: bold;
    margin-left: 35%
}

header img {
	float: right;
}

.hnav {
    padding: 5px 0;
    width: 100%;
    background-color: navy;
	color: aliceblue;
}

.hnav ul {
	display: block;
	text-align: center;
}

.hnav ul li {
	display: inline-block;
	list-style: none;
	width: 15%;
	margin-top: .8%;
}

.hnav a {
	color: black;
	text-decoration: none;
	font-size: 1.5em;
}

.hnav ul li:hover {
	background-color: aliceblue;
	color: navy;
	text-decoration: underline;
}

main {
	color: aliceblue;
}

main img {
	float: center;
}

.about {
	background-color: navy;
	color: aliceblue;
	min-height: 150px;
	width: 100%;
}

.who {
	background-color: black;
	color: aliceblue;
	min-height: 150px;
	width: 100%;
}

.cssGrid {
	display: center;
	color: navy;
}

.cssGrid a {
	color: navy;
	background-color: aliceblue;
	padding: 10px;
	margin: 10px;
	border-radius: 10px;
	text-align: center;
}

#item1 {
    background-image: url(../beagles/images/beaglesJuniors/images/newsletter_Beagle.jpg);
	font-weight: bold;
	text-decoration: none;
	border-radius: 5px;
}

#item1:hover {
	color: aliceblue;
	background-color: black;
	text-decoration: underline;
}

#item2 {
    background-image: url(../christmas22/images/snow.jpg);
	font-weight: bold;
	text-decoration: none;
	border-radius: 5px;
}

#item2:hover {
	color: aliceblue;
	background-color: black;
	text-decoration: underline;
}

#item3 {
    background-image: url(../forwardFitness/images/forward-fitness-logo.png);
	font-weight: bold;
	text-decoration: none;
	border-radius: 5px;
}

#item3:hover {
	color: aliceblue;
	background-color: black;
	text-decoration: underline;
}

.resume {
	background-color: navy;
	color: aliceblue;
}

button {
	background-color: aliceblue;
	color: navy;
	padding: 15px;
	margin: 15px;
	border-radius: 10px;
	font-size: 1.5em;
	font-weight: bold;
	text-decoration: none;
}

button:hover {
	background-color: black;
	color: aliceblue;
	text-decoration: underline;
}

footer {
    background-color: black;
	color: aliceblue;
}

footer h1 {
    font-size: 2em;
    font-weight: bold;
	margin-left: 40%;
}

footer h3 {
    font-size: 2em;
    font-weight: bold;
    margin-left: 43%
}

.fnav {
    padding: 5px 0;
    width: 100%;
    background-color: navy;
	color: aliceblue;
}

.fnav ul {
	display: block;
	text-align: center;
}

.fnav ul li {
	display: inline-block;
	list-style: none;
	width: 15%;
	margin-top: .8%;
}

.fnav a {
	color: aliceblue;
	text-decoration: none;
	font-size: 1.5em;
}

.fnav ul li:hover {
	background-color: aliceblue;
	color: navy;
}

footer h4, footer h5, footer h6 {
	text-align: center;
	color: aliceblue;
}
