/* CSS Document */

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: aliceblue;
}

header {
    background-color: navy;
	color: aliceblue;
}

header h1 {
    font-size: 2em;
    font-weight: bold;
	margin-left: 40%;
}

header h3 {
    font-size: 2em;
    font-weight: bold;
    margin-left: 43%
}

.hnav {
    padding: 5px 0;
    width: 100%;
    background-color: navy;
	color: aliceblue;
}

.hnav ul {
	display: block;
	text-align: center;
}

.hnav ul li {
	display: inline-block;
	list-style: none;
	width: 15%;
	margin-top: .8%;
}

.hnav a {
	color: black;
	text-decoration: none;
	font-size: 1.5em;
}

.hnav ul li:hover {
	background-color: aliceblue;
	color: navy;
	text-decoration: underline;
}

main {
	color: navy;
}

#container {
	padding: 2% 0;
	margin: 0 auto;
	width: 80%;
	background-color: navy;
}

footer {
    background-color: navy;
	color: aliceblue;
}

footer h1 {
    font-size: 2em;
    font-weight: bold;
	margin-left: 40%;
}

footer h3 {
    font-size: 2em;
    font-weight: bold;
    margin-left: 43%
}

.fnav {
    padding: 5px 0;
    width: 100%;
    background-color: navy;
	color: aliceblue;
}

.fnav ul {
	display: block;
	text-align: center;
}

.fnav ul li {
	display: inline-block;
	list-style: none;
	width: 15%;
	margin-top: .8%;
}

.fnav a {
	color: aliceblue;
	text-decoration: none;
	font-size: 1.5em;
}

.fnav ul li:hover {
	background-color: aliceblue;
	color: navy;
}

footer h4, footer h5, footer h6 {
	text-align: center;
	color: aliceblue;
}