* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: aliceblue;
}

.hnav {
	display: inline-block;
    padding: 5px 0;
    width: 100%;
    background-color: aliceblue;
	color: black;
}

.hnav ul {
	display: block;
	text-align: center;
}

.hnav ul li {
	display: inline-block;
	list-style: none;
	width: 15%;
	margin-top: .8%;
}

.hnav a {
	color: black;
	text-decoration: none;
	font-size: 1.5em;
}

.hnav ul li:hover {
	background-color: aliceblue;
	color: navy;
	text-decoration: underline;
}

header {
    background-color: navy;
	color: aliceblue;
	min-height: 300px;
	width: 100%;
	font-family: 'Shrikhand', cursive;
}

header h1 {
    font-size: 5em;
    font-weight: bold;
	margin-left: 25%;
	font-family: 'Shrikhand', cursive;
}

header h3 {
    font-size: 3em;
    font-weight: bold;
    margin-left: 35%;
	font-family: 'Shrikhand', cursive;
}

header img {
	float: right;
}

main {
	color: aliceblue;
	font-family: 'Noto Serif', serif;
}

.objective {
	background-color: aliceblue;
	color: navy;
}

.education {
	background-color: navy;
	color: aliceblue;
}

.skills {
	background-color: aliceblue;
	color: navy;
}

.education {
	background-color: navy;
	color: aliceblue;
}

h2 {
	font-size: 2em;
	font-weight: bold;
	font-family: 'Noto Serif', serif;
}

p {
	font-size: 1.5em;
	font-family: 'Noto Serif', serif;
}

footer {
	font-family: 'Noto Serif', serif;
    background-color: black;
	color: aliceblue;
	font-family: 'Noto Serif', serif;
}

.fnav {
    padding: 5px 0;
    width: 100%;
    background-color: navy;
	color: aliceblue;
	font-family: 'Noto Serif', serif;
}

.fnav ul {
	display: block;
	text-align: center;
}

.fnav ul li {
	display: inline-block;
	list-style: none;
	width: 15%;
	margin-top: .8%;
}

.fnav a {
	color: aliceblue;
	text-decoration: none;
	font-size: 1.5em;
}

.fnav ul li:hover {
	background-color: aliceblue;
	color: navy;
}

footer h1 {
    font-size: 2em;
    font-weight: bold;
	margin-left: 40%;
	font-family: 'Noto Serif', serif;
}

footer h3 {
    font-size: 2em;
    font-weight: bold;
    margin-left: 43%;
	font-family: 'Noto Serif', serif;
}

footer h4, footer h5, footer h6 {
	text-align: center;
	color: aliceblue;
	font-family: 'Noto Serif', serif;
}
