/* CSS Document */
/* CSS Reset */

body, header, nav, main, footer, img, h1, h3, ul, aside, figure, figcaption, video {
margin: 0;
border: 0;
}

body {
margin: 0px;
padding: 0px;
}

header {
 background-color: red;
 margin: 0px;
 padding: 0px;
}

header h1 {
 color: aliceblue;
}

header nav {
    margin: 1px;
    padding: 1px;
	color: aliceblue;
    min-height: 60px;
    font-size: 1.5em;
}

header nav ul {
	display: inline-block;
    list-style: none;
    margin: 0px;
    padding: 10px 10px 10px 10px;
}

header nav ul li {
    display: inline-block;
    margin-right: 1em;
}

header nav a {
    color: aliceblue;
    text-decoration: none;
    padding: 10px 10px 10px 10px;
}

header nav a:hover {
	background-color: black;
	text-decoration: underline;
	margin: 10px;
	padding: 10px;
}


main {
	color: green;
}

main section {
	color: green;
}

#cssGrid {
	opacity: 0.8;
	color: green;
}

.cssGrid {
	color: green;
}

#item1 {
	background: url("../images/44170663432_603fd2c020_b.jpeg");
}

#item2 {
	background: url("../images/19799056499_0f31c96c8e_b.jpeg");
}

#item3 {
	background: url("../images/19684180929_9942e09d38_c.jpg");
}

#item4 {
	background: url("../images/1537805813_dc3a78daab_c.jpg");
}

#item5 {
	background: url("../images/4005866495_b8c861f174_c.jpg");
}

#item6 {
	background: url("../images/478786571_1303bf828a_c.jpg");
}

#item7 {
	background: url("../images/8719872826_43c9b31dfd_c.jpg")
}

#item8 {
	background: url("../images/2417219707_d5f0231574_b.jpg");
}

#item9 {
	background: url("../images/48789883623_b306a95058_c.jpg");
}



section {
  background: url();
  background-size: cover;
  width: 100%;
  height: 1500px;
  position: relative;
  overflow: hidden;
}

.snow1 {
  background: url("../images/snow.jpg");
  background-repeat: repeat;
  width: 100%;
  height: 1500px;
  position: absolute;
  top: 0;
  left: 0;
  animation: animateOne 10s infinite linear;
}
.snow2 {
  background: url();
  background-repeat: repeat;
  width: 100%;
  height: 1500px;
  position: absolute;
  top: 0;
  left: 0;
  animation: animateTwo 10s infinite linear;
}
.snow3 {
  background: url();
  background-repeat: repeat;
  width: 100%;
  height: 1500px;
  position: absolute;
  top: 0;
  left: 0;
  animation: animateThree 10s infinite linear;
}
@keyframes animateOne {
  0%{
    background-position: 0px 0px
  }
  100%{
    background-position: 100px 1500px
  }
}
@keyframes animateTwo {
  0%{
    background-position: 0px -100px
  }
  100%{
    background-position: 0px 1500px
  }
}
@keyframes animateThree {
  0%{
    background-position: -100px -100px
  }
  100%{
    background-position: -100px -50px
  }
}
footer {
	background-color: red;
}

footer h1 {
	color: aliceblue;
}

footer nav {
    margin: 0;
    padding: 0;
	color: aliceblue;
    min-height: 50px;
    font-size: 1.5em;
}

footer nav ul {
	display: inline-block;
    list-style: none;
    margin: 0;
    padding: 10px 0 10px 0;
}

footer nav ul li {
    display: inline-block;
    margin-right: 1em;
}

footer nav a {
    color: aliceblue;
    text-decoration: none;
    padding: 10px 10px 10px 10px;
}

footer nav a:hover {
	background-color: black;
	text-decoration: underline;
	margin: 10px;
	padding: 10px;
}

